<template name="layout">

{{> UI.dynamic template=css}}
  <div class="outer-wrapper {{currentPage}}">
    {{> UI.dynamic template=mobile_nav}}
    <div class="inner-wrapper template-{{pageName}}">
      {{> UI.dynamic template=nav}}      
      <div class="content-wrapper">

    {{#unless isStaticPage}}    
      <div class="sidebar">
        {{> UI.dynamic template=search}}                      
        {{> UI.dynamic template=categories}}            
        {{> UI.dynamic template=adminMenu}}
      </div>

      {{> UI.dynamic template=views}}        
    {{/unless}}

    {{> UI.dynamic template=error}}
    {{#each heroModules}}
      {{> UI.dynamic template=getTemplate}}
    {{/each}}
    {{> yield}}
    {{> UI.dynamic template=footer}}
      </div>
    <div class="overlay hidden"></div>
    </div>
  {{{extraCode}}}
  </div>
</template>